---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title?: string | undefined;
	description?: string | undefined;
	keywords?: string | undefined;
	bodyClass?: string;
}
const { title, description,keywords, bodyClass } = Astro.props;
---
<html lang=en>
	<head>
		<MainHead title={title} description={description}  keywords={keywords} />
		<!-- Preload ALL slide visuals -->
  {slides.map(slide =>
    slide.media.map(item => (
      item.type === "video" ? (
        <link rel="preload" as="video" href={item.src} />
      ) : (
        <link rel="preload" as="image" href={item.src} />
      )
    ))
  )}
	</head>
	<body class={`_body ${bodyClass ?? ''}`}>
		<div class="">
			<Nav transition:persist/>
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			:root {
				--bg-svg-blend-mode: overlay;
				--bg-blend-mode: darken;
			}
			:root.theme-dark {
				--bg-svg-blend-mode: darken;
				--bg-blend-mode: lighten;
			}
			/* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
			:root.loaded {

			}
			:root.loaded.theme-dark {

			}

		</style>
	</body>
</html>
